<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wmencoder.mapper.CodeInfoMapper">
    
    <resultMap type="CodeInfo" id="CodeInfoResult">
        <result property="coderId"    column="coder_id"    />
        <result property="coderCode"    column="coder_code"    />
        <result property="loaderName"    column="loader_name"    />
        <result property="loaderInfo"    column="loader_info"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCodeInfoVo">
        select * from wmcode_info
    </sql>

    <select id="selectCodeInfoList" parameterType="CodeInfo" resultMap="CodeInfoResult">
        <include refid="selectCodeInfoVo"/>
        <where>  
            <if test="coderCode != null  and coderCode != ''"> and coder_code like concat('%', #{coderCode}, '%')</if>
            <if test="loaderName != null  and loaderName != ''"> and loader_name like concat('%', #{loaderName}, '%')</if>
            <if test="loaderInfo != null  and loaderInfo != ''"> and loader_info like concat('%', #{loaderInfo}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectCodeInfoListForGenerate" parameterType="String" resultMap="CodeInfoResult">
        <include refid="selectCodeInfoVo"/>
        <where>
            <if test="coderCode != null  and coderCode != ''"> and coder_code like concat(#{coderCode}, '%')</if>
        </where>
    </select>

    <select id="selectCodeInfoById" parameterType="Long" resultMap="CodeInfoResult">
        <include refid="selectCodeInfoVo"/>
        where coder_id = #{coderId}
    </select>

    <select id="selectReCodeCoder" parameterType="String" resultMap="CodeInfoResult">
        select * from wmcode_info where coder_code = #{coderCode}
    </select>

    <insert id="insertCodeInfo" parameterType="CodeInfo" useGeneratedKeys="true" keyProperty="coderId">
        insert into wmcode_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coderCode != null">coder_code,</if>
            <if test="loaderName != null">loader_name,</if>
            <if test="loaderInfo != null">loader_info,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coderCode != null">#{coderCode},</if>
            <if test="loaderName != null">#{loaderName},</if>
            <if test="loaderInfo != null">#{loaderInfo},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCodeInfo" parameterType="CodeInfo">
        update wmcode_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="coderCode != null">coder_code = #{coderCode},</if>
            <if test="loaderName != null">loader_name = #{loaderName},</if>
            <if test="loaderInfo != null">loader_info = #{loaderInfo},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where coder_id = #{coderId}
    </update>

    <delete id="deleteCodeInfoById" parameterType="Long">
        delete from wmcode_info where coder_id = #{coderId}
    </delete>

    <delete id="deleteCodeInfoByIds" parameterType="String">
        delete from wmcode_info where coder_id in 
        <foreach item="coderId" collection="array" open="(" separator="," close=")">
            #{coderId}
        </foreach>
    </delete>
    
</mapper>